Repository api3dao/airnode, pull requests merged in 2020-12, with the labels that each got.

#150 Update error code names and remove unused codes
  packages/node/src/core/coordinator/calls/coordinated-execution.test.ts
  packages/node/src/core/coordinator/calls/disaggregation.test.ts
  packages/node/src/core/coordinator/calls/disaggregation.ts
  packages/node/src/core/evm/authorization/authorization-application.test.ts
  packages/node/src/core/evm/authorization/authorization-application.ts
  packages/node/src/core/evm/requests/api-calls.test.ts
  packages/node/src/core/evm/requests/api-calls.ts
  packages/node/src/core/evm/templates/template-application.test.ts
  packages/node/src/core/evm/templates/template-application.ts
  packages/node/src/core/evm/templates/template-verification.test.ts
  packages/node/src/core/evm/templates/template-verification.ts
  packages/node/src/core/evm/verification/api-call-verification.test.ts
  packages/node/src/core/evm/verification/api-call-verification.ts
  packages/node/src/core/evm/verification/request-verification.test.ts
  packages/node/src/core/evm/verification/request-verification.ts
  packages/node/src/core/handlers/call-api.test.ts
  packages/node/src/core/handlers/call-api.ts
  packages/node/src/types.ts
Labels: node, protocol-overhaul

#157 Add Airnode-ABI package
  .github/workflows/master.yml
  package.json
  packages/airnode-abi/.gitignore
  packages/airnode-abi/.prettierignore
  packages/airnode-abi/README.md
  packages/airnode-abi/jest.config.js
  packages/airnode-abi/package.json
  packages/airnode-abi/src/decoding.test.ts
  packages/airnode-abi/src/decoding.ts
  packages/airnode-abi/src/encoding.test.ts
  packages/airnode-abi/src/encoding.ts
  packages/airnode-abi/src/index.ts
  packages/airnode-abi/src/types.ts
  packages/airnode-abi/src/utils.ts
  packages/airnode-abi/tsconfig.build.json
  packages/airnode-abi/tsconfig.json
  packages/airnode-abi/yarn.lock
  packages/node/README.md
Labels: airnode-abi

#159 Replace cbor-custom with airnode-abi
  packages/airnode-abi/src/decoding.test.ts
  packages/airnode-abi/src/decoding.ts
  packages/node/package.json
  packages/node/src/core/evm/abi-encoding.test.ts
  packages/node/src/core/evm/abi-encoding.ts
  packages/node/src/core/evm/cbor.test.ts
  packages/node/src/core/evm/index.ts
  packages/node/src/core/evm/requests/api-calls.test.ts
  packages/node/src/core/evm/requests/api-calls.ts
  packages/node/src/core/evm/templates/template-application.test.ts
  packages/node/src/core/evm/templates/template-application.ts
Labels: node

#165 Rename requester index
  packages/deployer/package.json
  packages/deployer/src/config-data/config.json.example
  packages/deployer/src/evm/Airnode.json
  packages/deployer/src/evm/evm.ts
  packages/node/package.json
  packages/node/src/evm/contracts/airnode.test.ts
  packages/node/src/evm/contracts/airnode.ts
  packages/node/src/evm/contracts/convenience.test.ts
  packages/node/src/evm/contracts/convenience.ts
  packages/node/src/evm/contracts/json/airnode.json
  packages/node/src/evm/contracts/json/convenience.json
  packages/node/src/evm/requests/api-calls.test.ts
  packages/node/src/evm/requests/api-calls.ts
  packages/node/src/evm/requests/withdrawals.ts
  packages/node/src/evm/templates/template-fetching.test.ts
  packages/node/src/evm/templates/template-fetching.ts
  packages/protocol/contracts/Airnode.sol
  packages/protocol/contracts/Convenience.sol
  packages/protocol/contracts/ProviderStore.sol
  packages/protocol/contracts/RequesterStore.sol
  packages/protocol/contracts/TemplateStore.sol
  packages/protocol/contracts/authorizers/MinBalanceAuthorizer.sol
  packages/protocol/contracts/authorizers/interfaces/IAuthorizer.sol
  packages/protocol/contracts/interfaces/IAirnode.sol
  packages/protocol/contracts/interfaces/IConvenience.sol
  packages/protocol/contracts/interfaces/IProviderStore.sol
  packages/protocol/contracts/interfaces/IRequesterStore.sol
  packages/protocol/contracts/interfaces/ITemplateStore.sol
  packages/protocol/contracts/mock/MockAirnodeClient.sol
  packages/protocol/deploy/1_airnode.js
  packages/protocol/deploy/1_deploy.js
  packages/protocol/deploy/2_populate.js
  packages/protocol/deployments/rinkeby/Airnode.json
  packages/protocol/deployments/rinkeby/Convenience.json
  packages/protocol/deployments/rinkeby/solcInputs/0x0263a268c4a881721557a0fe95b774e6fc825a023fbe13a3dbec70426f3126fa.json
  packages/protocol/deployments/rinkeby/solcInputs/dade451a651365e5230ccb2cc52011e6.json
  packages/protocol/deployments/ropsten/Airnode.json
  packages/protocol/deployments/ropsten/Convenience.json
  packages/protocol/deployments/ropsten/solcInputs/0x0263a268c4a881721557a0fe95b774e6fc825a023fbe13a3dbec70426f3126fa.json
  packages/protocol/deployments/ropsten/solcInputs/dade451a651365e5230ccb2cc52011e6.json
  packages/protocol/index.js
  packages/protocol/package.json
  packages/protocol/test/Airnode.sol.js
  packages/protocol/test/Convenience.sol.js
  packages/protocol/test/ProviderStore.sol.js
  packages/protocol/test/RequesterStore.sol.js
  packages/protocol/test/TemplateStore.sol.js
  packages/protocol/test/UserFlow.js
  packages/protocol/test/helpers/provider.js
  packages/protocol/test/helpers/request.js
  packages/protocol/test/helpers/requester.js
  packages/protocol/test/helpers/template.js
Labels: deployer, node, protocol

#151 Source all default values from the same file #148
  packages/node/src/constants.test.ts
  packages/node/src/constants.ts
  packages/node/src/coordinator/calls/coordinated-execution.ts
  packages/node/src/evm/authorization/authorization-fetching.ts
  packages/node/src/evm/evm-provider.ts
  packages/node/src/evm/fulfillments/api-calls.ts
  packages/node/src/evm/fulfillments/withdrawals.ts
  packages/node/src/evm/gas-prices.ts
  packages/node/src/evm/providers.ts
  packages/node/src/evm/requests/event-logs.ts
  packages/node/src/evm/templates/template-fetching.ts
  packages/node/src/evm/transaction-counts.ts
  packages/node/src/handlers/call-api.ts
  packages/node/src/providers/initialize.ts
  packages/node/src/providers/state.ts
  packages/node/src/utils/promise-utils.ts
Labels: node

#168 Hardcode artifact dependencies
  Docker.md
  packages/deployer/src/evm/evm.ts
  packages/node/src/evm/contracts/airnode.ts
  packages/node/src/evm/contracts/convenience.ts
  packages/protocol/index.js
Labels: deployer, node, protocol

#171 Update build scripts
  .github/workflows/master.yml
  package.json
  packages/deployer/package.json
Labels: bug

#170 Fix designated wallet derivation convention
  packages/node/src/evm/transaction-counts.test.ts
  packages/node/src/evm/verification/request-verification.test.ts
  packages/node/src/evm/wallet.test.ts
  packages/node/src/evm/wallet.ts
Labels: node

#172 Lambda fixes
  packages/deployer/src/config-data/config.json.example
  packages/deployer/src/handlers/aws/index.ts
  packages/node/__dev__/config.json.example
  packages/node/src/adapters/http/worker.test.ts
  packages/node/src/coordinator/calls/aggregation.ts
  packages/node/src/evm/workers.test.ts
  packages/node/src/types.ts
  packages/node/src/workers/cloud-platforms/aws.test.ts
  packages/node/src/workers/cloud-platforms/aws.ts
  packages/node/test/fixtures/config/config.ts
Labels: node

#169 Add @airnode/operation package
  package.json
  packages/airnode-abi/src/decoding.test.ts
  packages/airnode-abi/src/encoding.test.ts
  packages/node/README.md
  packages/node/__dev__/config.json.example
  packages/node/src/evm/contracts/airnode.test.ts
  packages/node/src/evm/contracts/airnode.ts
  packages/node/src/evm/contracts/convenience.test.ts
  packages/node/src/evm/contracts/convenience.ts
  packages/node/src/evm/contracts/types.ts
  packages/operation/.gitignore
  packages/operation/README.md
  packages/operation/hardhat.config.ts
  packages/operation/package.json
  packages/operation/src/config/evm-dev-config.json
  packages/operation/src/evm/deploy/account-assignment.ts
  packages/operation/src/evm/deploy/deployment.ts
  packages/operation/src/evm/deploy/funding.ts
  packages/operation/src/evm/deploy/index.ts
  packages/operation/src/evm/deploy/providers.ts
  packages/operation/src/evm/deploy/requesters.ts
  packages/operation/src/evm/deploy/state.ts
  packages/operation/src/evm/io.ts
  packages/operation/src/evm/requests/index.ts
  packages/operation/src/evm/requests/make-requests.ts
  packages/operation/src/evm/requests/state.ts
  packages/operation/src/evm/utils.ts
  packages/operation/src/index.ts
  packages/operation/src/scripts/evm-dev-deploy.ts
  packages/operation/src/scripts/evm-dev-requests.ts
  packages/operation/src/types.ts
  packages/operation/tsconfig.build.json
  packages/operation/tsconfig.json
  packages/operation/yarn.lock
  tsconfig.build.json
Labels: operation
