Repository api3dao/airnode, pull requests merged in 2021-08, with the labels that each got.

#428 Add API test calls functionality
  packages/adapter/src/index.ts
  packages/deployer/config/config.json.example
  packages/deployer/config/secrets.env.example
  packages/deployer/package.json
  packages/deployer/src/cli/commands.ts
  packages/deployer/src/handlers/aws/index.ts
  packages/deployer/src/infrastructure/aws.ts
  packages/deployer/src/infrastructure/index.ts
  packages/deployer/terraform/airnode/main.tf
  packages/deployer/terraform/airnode/modules/apigateway/data.tf
  packages/deployer/terraform/airnode/modules/apigateway/main.tf
  packages/deployer/terraform/airnode/modules/apigateway/variables.tf
  packages/deployer/terraform/airnode/modules/function/data.tf
  packages/deployer/terraform/airnode/modules/function/main.tf
  packages/deployer/terraform/airnode/modules/function/variables.tf
  packages/deployer/terraform/airnode/templates/apigateway.yaml.tpl
  packages/deployer/terraform/airnode/variables.tf
  packages/node/__dev__/test-api.ts
  packages/node/package.json
  packages/node/src/adapters/http/worker.test.ts
  packages/node/src/adapters/http/worker.ts
  packages/node/src/handlers/call-api.ts
  packages/node/src/handlers/index.ts
  packages/node/src/handlers/start-coordinator.ts
  packages/node/src/handlers/test-api.ts
  packages/node/src/logger.ts
  packages/node/src/types.ts
  packages/node/src/workers/cloud-platforms/aws.ts
  packages/node/src/workers/local-handlers.ts
Labels: deployer, node

#454 Add `testable` flag to mark endpoints that can be tested
  packages/deployer/config/config.json.example
  packages/deployer/src/handlers/aws/index.ts
  packages/deployer/terraform/airnode/templates/apigateway.yaml.tpl
  packages/node/__dev__/config.json.example
  packages/node/__dev__/test-api.ts
  packages/node/src/handlers/test-api.ts
  packages/node/src/workers/local-handlers.ts
  packages/ois/src/types.ts
Labels: deployer, node

#458 Tests for API test calls
  packages/node/README.md
  packages/node/src/handlers/test-api.test.ts
  packages/node/test/fixtures/config/ois.ts
Labels: deployer, node

#466 Fix deployer status code on error
  packages/deployer/src/cli/index.ts
Labels: deployer

#467 Update deployer README - add AWS IAM setup video link
  packages/deployer/README.md
Labels: documentation, deployer

#496 fix(#494): Update ethers, hardhat and hardhat-deploy dependencies
  package.json
  packages/adapter/package.json
  packages/admin/package.json
  packages/admin/test/e2e/cli.feature.ts
  packages/airnode-abi/package.json
  packages/deployer/package.json
  packages/node/package.json
  packages/operation/package.json
  packages/protocol/package.json
  yarn.lock
Labels: protocol

#499 Add E2E test for test API calls
  packages/node/test/e2e/test-api.feature.ts
Labels: node

#498 Remove withdrawal destination
  packages/protocol/README.md
  packages/protocol/contracts/rrp/WithdrawalUtils.sol
  packages/protocol/contracts/rrp/interfaces/IWithdrawalUtils.sol
  packages/protocol/test/WithdrawalUtils.sol.js
Labels: protocol, v0.1.0

#509 Expand on the scrub provider state comment
  packages/node/src/providers/state.ts
Labels: node

#456 Fix admin package
  packages/admin/README.md
  packages/admin/example/authorizers.json
  packages/admin/src/cli.ts
  packages/admin/src/implementation.test.ts
  packages/admin/src/implementation.ts
  packages/admin/src/sdk.ts
  packages/admin/test/e2e/__snapshots__/cli.feature.ts.snap
  packages/admin/test/e2e/cli.feature.ts
  packages/admin/test/e2e/sdk.feature.ts
  packages/admin/test/fixtures/authorizers.json
  packages/admin/test/fixtures/template.json
Labels: admin

#463 Fixes operation package
  packages/operation/README.md
  packages/operation/src/config/evm-dev-config.json
  packages/operation/src/evm/deploy/account-assignment.ts
  packages/operation/src/evm/deploy/airnodes.ts
  packages/operation/src/evm/deploy/deployment.ts
  packages/operation/src/evm/deploy/funding.ts
  packages/operation/src/evm/deploy/requesters.ts
  packages/operation/src/evm/deploy/state.ts
  packages/operation/src/evm/io.ts
  packages/operation/src/evm/requests/make-requests.ts
  packages/operation/src/evm/utils.ts
  packages/operation/src/scripts/evm-dev-deploy.ts
  packages/operation/src/scripts/evm-dev-requests.ts
  packages/operation/src/types.ts
Labels: operation

#511 Fixes protocol event names
  packages/node/src/evm/contracts/airnodeRrp.test.ts
  packages/node/src/evm/contracts/airnodeRrp.ts
  packages/node/src/evm/handlers/fetch-pending-requests.test.ts
  packages/node/src/evm/handlers/initialize-provider.test.ts
  packages/node/src/evm/requests/api-calls.test.ts
  packages/node/src/evm/requests/api-calls.ts
  packages/node/src/evm/requests/event-logs.ts
  packages/node/src/evm/requests/events.ts
  packages/node/src/evm/requests/withdrawals.test.ts
  packages/node/src/evm/requests/withdrawals.ts
  packages/node/src/handlers/start-coordinator.test.ts
  packages/node/src/types.ts
  packages/node/test/e2e/client-fulfill.feature.ts
  packages/node/test/e2e/no-duplication.feature.ts
  packages/node/test/e2e/request-status.feature.ts
  packages/node/test/e2e/withdrawals.feature.ts
  packages/node/test/fixtures/evm/event-logs.ts
Labels: node, v0.1.0

#504 Api3TokenLock Integration and Tests according to specifications
  packages/protocol/contracts/rrp/authorizers/admin/TokenLockRrpAuthorizerAdmin.sol
  packages/protocol/contracts/rrp/authorizers/admin/TokenLockRrpAuthorizerAdminExternal.sol
  packages/protocol/contracts/rrp/authorizers/admin/interfaces/ITokenLockRrpAuthorizerAdmin.sol
  packages/protocol/contracts/rrp/authorizers/admin/interfaces/ITokenLockRrpAuthorizerAdminExternal.sol
  packages/protocol/contracts/rrp/authorizers/interfaces/IApi3Token.sol
  packages/protocol/contracts/rrp/authorizers/mock/Api3Token.sol
  packages/protocol/package.json
  packages/protocol/test/authorizers/Whitelister.sol.js
  packages/protocol/test/authorizers/admin/TokenLockRrpAuthorizerAdmin.sol.js
  packages/protocol/test/authorizers/admin/TokenLockRrpAuthorizerAdminExternal.sol.js
  packages/protocol/test/utils.js
Labels: protocol, v0.1.0

#517 AN-105: Removes destination address param when fulfilling withdrawal …
  packages/node/src/evm/fulfillments/withdrawals.test.ts
  packages/node/src/evm/fulfillments/withdrawals.ts
  packages/node/src/evm/handlers/fetch-pending-requests.test.ts
  packages/node/src/evm/handlers/process-transactions.test.ts
  packages/node/src/evm/requests/withdrawals.test.ts
  packages/node/src/evm/requests/withdrawals.ts
  packages/node/src/types.ts
  packages/node/test/e2e/withdrawals.feature.ts
  packages/node/test/fixtures/operation/requests.ts
  packages/node/test/fixtures/requests/withdrawals.ts
Labels: node, v0.1.0

#518 AN-90: Fixes call to AirnodeRrp.checkAuthorizationStatus()
  packages/node/src/evm/authorization/authorization-fetching.test.ts
  packages/node/src/evm/authorization/authorization-fetching.ts
  packages/node/src/evm/handlers/initialize-provider.ts
Labels: node, v0.1.0

#521 AN-96: Replace designated wallet with sponsor wallet
  packages/node/src/coordinator/calls/aggregation.test.ts
  packages/node/src/coordinator/calls/aggregation.ts
  packages/node/src/evm/authorization/authorization-fetching.test.ts
  packages/node/src/evm/handlers/fetch-pending-requests.test.ts
  packages/node/src/evm/handlers/initialize-provider.test.ts
  packages/node/src/evm/handlers/initialize-provider.ts
  packages/node/src/evm/requests/api-calls.test.ts
  packages/node/src/evm/requests/api-calls.ts
  packages/node/src/evm/requests/withdrawals.test.ts
  packages/node/src/evm/requests/withdrawals.ts
  packages/node/src/evm/templates/template-application.test.ts
  packages/node/src/evm/verification/request-verification.test.ts
  packages/node/src/evm/verification/request-verification.ts
  packages/node/src/handlers/call-api.test.ts
  packages/node/src/handlers/call-api.ts
  packages/node/src/types.ts
  packages/node/test/e2e/withdrawals.feature.ts
  packages/node/test/fixtures/aggregated-api-call.ts
  packages/node/test/fixtures/requests/api-calls.ts
  packages/node/test/fixtures/requests/withdrawals.ts
  packages/node/test/setup/e2e/deployment.ts
  packages/operation/README.md
  packages/operation/src/evm/deploy/account-assignment.ts
  packages/operation/src/evm/deploy/funding.ts
  packages/operation/src/evm/requests/make-requests.ts
  packages/operation/src/evm/utils.ts
  packages/operation/src/scripts/evm-dev-deploy.ts
  packages/operation/src/types.ts
Labels: node, v0.1.0

#524 AN-94: Replace requester with sponsor
  packages/node/src/coordinator/calls/aggregation.test.ts
  packages/node/src/coordinator/calls/aggregation.ts
  packages/node/src/evm/authorization/authorization-fetching.test.ts
  packages/node/src/evm/authorization/authorization-fetching.ts
  packages/node/src/evm/contracts/airnodeRrp.test.ts
  packages/node/src/evm/fulfillments/index.test.ts
  packages/node/src/evm/fulfillments/index.ts
  packages/node/src/evm/fulfillments/withdrawals.test.ts
  packages/node/src/evm/fulfillments/withdrawals.ts
  packages/node/src/evm/handlers/fetch-pending-requests.test.ts
  packages/node/src/evm/handlers/initialize-provider.test.ts
  packages/node/src/evm/handlers/initialize-provider.ts
  packages/node/src/evm/handlers/process-transactions.test.ts
  packages/node/src/evm/requests/api-calls.ts
  packages/node/src/evm/requests/blocking.test.ts
  packages/node/src/evm/requests/blocking.ts
  packages/node/src/evm/requests/withdrawals.test.ts
  packages/node/src/evm/requests/withdrawals.ts
  packages/node/src/evm/templates/template-application.test.ts
  packages/node/src/evm/transaction-counts.test.ts
  packages/node/src/evm/transaction-counts.ts
  packages/node/src/evm/verification/request-verification.test.ts
  packages/node/src/evm/verification/request-verification.ts
  packages/node/src/evm/wallet.test.ts
  packages/node/src/evm/wallet.ts
  packages/node/src/handlers/call-api.test.ts
  packages/node/src/handlers/call-api.ts
  packages/node/src/providers/initialize.test.ts
  packages/node/src/providers/state.test.ts
  packages/node/src/providers/state.ts
  packages/node/src/requests/grouping.test.ts
  packages/node/src/requests/grouping.ts
  packages/node/src/requests/nonces.test.ts
  packages/node/src/requests/nonces.ts
  packages/node/src/types.ts
  packages/node/test/e2e/withdrawals.feature.ts
  packages/node/test/fixtures/aggregated-api-call.ts
  packages/node/test/fixtures/operation/deploy-config.ts
  packages/node/test/fixtures/operation/requests.ts
  packages/node/test/fixtures/requests/api-calls.ts
  packages/node/test/fixtures/requests/withdrawals.ts
Labels: node, v0.1.0

#523 AN-92: Replace client with requester
  packages/node/README.md
  packages/node/package.json
  packages/node/src/coordinator/calls/aggregation.test.ts
  packages/node/src/coordinator/calls/aggregation.ts
  packages/node/src/coordinator/calls/disaggregation.test.ts
  packages/node/src/coordinator/calls/disaggregation.ts
  packages/node/src/evm/authorization/authorization-application.test.ts
  packages/node/src/evm/authorization/authorization-application.ts
  packages/node/src/evm/authorization/authorization-fetching.test.ts
  packages/node/src/evm/authorization/authorization-fetching.ts
  packages/node/src/evm/contracts/airnodeRrp.test.ts
  packages/node/src/evm/fulfillments/api-calls.ts
  packages/node/src/evm/fulfillments/withdrawals.ts
  packages/node/src/evm/handlers/fetch-pending-requests.test.ts
  packages/node/src/evm/handlers/initialize-provider.test.ts
  packages/node/src/evm/requests/api-calls.test.ts
  packages/node/src/evm/requests/api-calls.ts
  packages/node/src/evm/requests/blocking.ts
  packages/node/src/evm/requests/withdrawals.ts
  packages/node/src/evm/templates/template-application.ts
  packages/node/src/evm/templates/template-fetching.ts
  packages/node/src/evm/templates/template-verification.ts
  packages/node/src/evm/verification/api-call-verification.test.ts
  packages/node/src/evm/verification/api-call-verification.ts
  packages/node/src/evm/verification/request-verification.ts
  packages/node/src/handlers/call-api.test.ts
  packages/node/src/handlers/call-api.ts
  packages/node/src/requests/nonces.ts
  packages/node/src/requests/request.ts
  packages/node/src/requests/sorting.ts
  packages/node/src/types.ts
  packages/node/test/e2e/requester-fulfill.feature.ts
  packages/node/test/fixtures/aggregated-api-call.ts
  packages/node/test/fixtures/operation/deploy-config.ts
  packages/node/test/fixtures/operation/requests.ts
  packages/node/test/fixtures/requests/api-calls.ts
  packages/node/test/fixtures/requests/withdrawals.ts
  packages/node/test/setup/e2e/deployment.ts
Labels: node, v0.1.0

#527 Removes airnodeAdmin leftovers from operation package
  packages/deployer/config/config.json.example
  packages/deployer/src/types.ts
  packages/operation/README.md
  packages/operation/src/config/evm-dev-config.json
  packages/operation/src/evm/io.ts
  packages/operation/src/types.ts
Labels: node, v0.1.0

#531 Certik revisions for Beta-Protocol
  packages/protocol/contracts/admin/MetaAdminnable.sol
  packages/protocol/contracts/admin/RankedAdminnable.sol
  packages/protocol/contracts/rrp/AirnodeRrp.sol
  packages/protocol/contracts/rrp/TemplateUtils.sol
  packages/protocol/contracts/rrp/authorizers/Api3RequesterRrpAuthorizer.sol
  packages/protocol/contracts/rrp/authorizers/SelfRequesterRrpAuthorizer.sol
  packages/protocol/contracts/rrp/requesters/RrpBeaconServer.sol
  packages/protocol/test/AirnodeRrp.sol.js
  packages/protocol/test/TemplateUtils.sol.js
  packages/protocol/test/authorizers/Api3RequesterRrpAuthorizer.sol.js
  packages/protocol/test/authorizers/RequesterRrpAuthorizer.sol.js
  packages/protocol/test/requesters/RrpBeaconServer.sol.js
Labels: protocol

#533 AN-175: Fix tests under Node package in beta-protocol-revision branch
  package.json
  packages/node/README.md
  packages/node/package.json
  packages/node/src/coordinator/calls/aggregation.test.ts
  packages/node/src/coordinator/state.ts
  packages/node/src/evm/authorization/authorization-fetching.test.ts
  packages/node/src/evm/fulfillments/index.test.ts
  packages/node/src/evm/fulfillments/withdrawals.ts
  packages/node/src/evm/handlers/fetch-pending-requests.test.ts
  packages/node/src/evm/handlers/initialize-provider.test.ts
  packages/node/src/evm/handlers/process-transactions.test.ts
  packages/node/src/evm/requests/api-calls.test.ts
  packages/node/src/evm/requests/blocking.test.ts
  packages/node/src/evm/requests/event-logs.test.ts
  packages/node/src/evm/requests/event-logs.ts
  packages/node/src/evm/requests/events.test.ts
  packages/node/src/evm/requests/events.ts
  packages/node/src/evm/requests/withdrawals.test.ts
  packages/node/src/evm/templates/template-application.test.ts
  packages/node/src/evm/templates/template-verification.test.ts
  packages/node/src/evm/templates/template-verification.ts
  packages/node/src/evm/transaction-counts.test.ts
  packages/node/src/evm/transaction-counts.ts
  packages/node/src/evm/verification/api-call-verification.test.ts
  packages/node/src/evm/verification/api-call-verification.ts
  packages/node/src/evm/verification/request-verification.test.ts
  packages/node/src/evm/verification/request-verification.ts
  packages/node/src/evm/wallet.test.ts
  packages/node/src/evm/wallet.ts
  packages/node/src/handlers/start-coordinator.test.ts
  packages/node/src/providers/initialize.test.ts
  packages/node/src/providers/state.test.ts
  packages/node/src/providers/state.ts
  packages/node/src/requests/grouping.test.ts
  packages/node/src/requests/nonces.test.ts
  packages/node/test/e2e/no-duplication.feature.ts
  packages/node/test/e2e/request-status.feature.ts
  packages/node/test/e2e/requester-fulfill.feature.ts
  packages/node/test/e2e/withdrawals.feature.ts
  packages/node/test/fixtures/aggregated-api-call.ts
  packages/node/test/fixtures/evm/airnodeRrp.ts
  packages/node/test/fixtures/evm/event-logs.ts
  packages/node/test/fixtures/requests/api-call-templates.ts
  packages/node/test/fixtures/requests/api-calls.ts
  packages/node/test/fixtures/requests/withdrawals.ts
Labels: node, v0.1.0
