Repository api3dao/airnode, pull requests merged in 2021-04, with the labels that each got.

#294 Update deployer CLI to work in a more common way
  Dockerfile
  docker/Docker.md
  docker/Dockerfile
  docker/entrypoint.sh
  package.json
  packages/deployer/.gitignore
  packages/deployer/.npmignore
  packages/deployer/bin/deployer.ts
  packages/deployer/package.json
  packages/deployer/tsconfig.build.json
Labels: deployer

#265 Median contract & tests
  packages/protocol/contracts/dapis/Median.sol
  packages/protocol/extended-test/Median.sol.js
  packages/protocol/hardhat.config.js
  packages/protocol/package.json
  packages/protocol/test/dapis/Median.sol.js
Labels: aggregator

#298 Aggregator contracts with a standardized interface
  packages/protocol/contracts/dapis/reducers/Mean.sol
  packages/protocol/contracts/dapis/reducers/MeanMedianHybrid.sol
  packages/protocol/contracts/dapis/reducers/Median.sol
  packages/protocol/contracts/dapis/reducers/Reducer.sol
  packages/protocol/contracts/dapis/reducers/SelectK.sol
  packages/protocol/contracts/dapis/rrpDapi.sol
Labels: protocol
