Repository api3dao/airnode, pull requests merged in 2021-11, with the labels that each got.

#663 Add lerna caching to CI
  .github/workflows/build-test.yml
Labels: enhancement

#668 AN-333: Fix endpoint ID derivation implementation
  packages/airnode-admin/src/implementation.ts
  packages/airnode-admin/test/e2e/cli.feature.ts
  packages/airnode-node/README.md
  packages/airnode-node/config/config.json.example
  packages/airnode-node/src/coordinator/calls/aggregation.test.ts
  packages/airnode-node/src/evm/handlers/fetch-pending-requests.test.ts
  packages/airnode-node/src/evm/handlers/initialize-provider.test.ts
  packages/airnode-node/src/evm/requests/api-calls.test.ts
  packages/airnode-node/src/evm/requests/withdrawals.test.ts
  packages/airnode-node/src/handlers/start-coordinator.test.ts
  packages/airnode-node/src/handlers/test-api.test.ts
  packages/airnode-node/test/e2e/test-api.feature.ts
  packages/airnode-node/test/fixtures/config/config.ts
  packages/airnode-node/test/fixtures/evm/airnodeRrp.ts
  packages/airnode-node/test/fixtures/evm/event-logs.ts
  packages/airnode-operation/src/evm/utils.ts
  packages/airnode-operation/src/scripts/evm-dev-deploy.ts
Labels: admin

#683 AN-222: Update validator readme
  packages/airnode-validator/README.md
Labels: documentation, validator

#692 Exports things needed by Airkeeper and updates beacon reader condition
  packages/airnode-deployer/src/handlers/aws/index.ts
  packages/airnode-node/src/adapters/http/index.ts
  packages/airnode-node/src/adapters/index.ts
  packages/airnode-node/src/evm/handlers/index.ts
  packages/airnode-node/src/evm/index.ts
  packages/airnode-node/src/evm/requests/index.ts
  packages/airnode-node/src/index.ts
  packages/airnode-node/src/requests/index.ts
  packages/airnode-operation/src/config/evm-dev-config.json
  packages/airnode-protocol/contracts/rrp/requesters/RrpBeaconServer.sol
  packages/airnode-protocol/src/index.ts
  packages/airnode-protocol/test/rrp/requesters/RrpBeaconServerWithManager.sol.js
Labels: node, protocol

#672 AN-337 - Add interpolation to validator
  package.json
  packages/airnode-node/src/config/index.ts
  packages/airnode-validator/exampleSpecs/secrets.config.json
  packages/airnode-validator/exampleSpecs/secrets.env
  packages/airnode-validator/package.json
  packages/airnode-validator/src/commands/convertCmd.ts
  packages/airnode-validator/src/commands/utils.ts
  packages/airnode-validator/src/commands/validateCmd.ts
  packages/airnode-validator/src/convertor.ts
  packages/airnode-validator/src/validator.test.ts
  packages/airnode-validator/src/validator.ts
Labels: validator
