Repository api3dao/airnode, pull requests merged in 2021-02, with the labels that each got.

#193 Client specific nonces
  packages/node/src/evm/handlers/fetch-pending-requests.test.ts
  packages/node/src/evm/handlers/initialize-provider.test.ts
  packages/node/src/evm/requests/api-calls.test.ts
  packages/node/src/evm/verification/api-call-verification.test.ts
  packages/node/src/evm/verification/api-call-verification.ts
  packages/node/src/handlers/start-coordinator.test.ts
  packages/node/test/fixtures/evm/event-logs.ts
  packages/protocol/contracts/Airnode.sol
  packages/protocol/contracts/ProviderStore.sol
  packages/protocol/contracts/RequesterStore.sol
  packages/protocol/test/UserFlow.js
  packages/protocol/test/helpers/request.js
Labels: node, protocol

#132 Config security validation
  packages/validator/README.md
  packages/validator/exampleSpecs/config.specs.json
  packages/validator/exampleSpecs/configSecurity.specs.json
  packages/validator/exampleSpecs/ois.specs.json
  packages/validator/exampleSpecs/security.specs.json
  packages/validator/package.json
  packages/validator/src/readmeExamples.test.ts
  packages/validator/src/utils/messages.ts
  packages/validator/src/utils/utils.ts
  packages/validator/src/validate.ts
  packages/validator/src/validateCmd.ts
  packages/validator/src/validateConfigSecurity.ts
  packages/validator/src/validator.test.ts
  packages/validator/src/validator.ts
  packages/validator/src/validators/anyValidator.ts
  packages/validator/src/validators/conditionValidator.ts
  packages/validator/src/validators/optionalValidator.ts
  packages/validator/src/validators/regexpValidator.ts
  packages/validator/templates/apiSpecifications.json
  packages/validator/templates/configSecurity.json
  packages/validator/templates/endpoints.json
  packages/validator/templates/ois.json
Labels: validator

#186 Mnemonic verification process
  packages/deployer/src/commands.ts
  packages/deployer/src/io.ts
  packages/deployer/src/util.ts
  packages/deployer/yarn.lock
  yarn.lock
Labels: deployer, enhancement

#184 Template fetching fallback
  packages/node/src/constants.test.ts
  packages/node/src/constants.ts
  packages/node/src/evm/handlers/initialize-provider.ts
  packages/node/src/evm/templates/template-fetching.test.ts
  packages/node/src/evm/templates/template-fetching.ts
Labels: node

#194 Authorization fetching fallback
  packages/node/src/evm/authorization/authorization-fetching.test.ts
  packages/node/src/evm/authorization/authorization-fetching.ts
  packages/node/src/evm/templates/template-fetching.test.ts
Labels: node

#220 Remove short requests
  packages/deployer/yarn.lock
  packages/node/src/evm/contracts/airnode.test.ts
  packages/node/src/evm/contracts/airnode.ts
  packages/node/src/evm/handlers/initialize-provider.test.ts
  packages/node/src/evm/requests/api-calls.test.ts
  packages/node/src/evm/requests/api-calls.ts
  packages/node/src/evm/requests/events.test.ts
  packages/node/src/evm/requests/events.ts
  packages/node/src/evm/verification/api-call-verification.test.ts
  packages/node/src/evm/verification/api-call-verification.ts
  packages/node/src/handlers/start-coordinator.test.ts
  packages/node/src/types.ts
  packages/node/test/e2e/no-duplication.feature.ts
  packages/node/test/fixtures/evm/event-logs.ts
  packages/node/test/fixtures/operation/deploy-config.ts
  packages/operation/README.md
  packages/operation/src/config/evm-dev-config.json
  packages/operation/src/evm/requests/make-requests.ts
  packages/operation/src/scripts/evm-dev-requests.ts
  packages/operation/src/types.ts
  packages/protocol/contracts/Airnode.sol
  packages/protocol/contracts/TemplateStore.sol
  packages/protocol/contracts/interfaces/IAirnode.sol
  packages/protocol/contracts/mock/MockAirnodeClient.sol
  packages/protocol/test/Airnode.sol.js
  packages/protocol/test/UserFlow.js
  packages/protocol/test/helpers/request.js
  yarn.lock
Labels: alpha, node, protocol

#223 Remove requester-specific parameters from templates
  packages/admin/example/template.json
  packages/admin/src/index.ts
  packages/node/src/evm/handlers/initialize-provider.test.ts
  packages/node/src/evm/handlers/initialize-provider.ts
  packages/node/src/evm/requests/api-calls.test.ts
  packages/node/src/evm/templates/template-application.test.ts
  packages/node/src/evm/templates/template-application.ts
  packages/node/src/evm/templates/template-fetching.test.ts
  packages/node/src/evm/templates/template-fetching.ts
  packages/node/src/evm/templates/template-verification.test.ts
  packages/node/src/evm/templates/template-verification.ts
  packages/node/src/evm/verification/api-call-verification.test.ts
  packages/node/src/handlers/start-coordinator.test.ts
  packages/node/src/types.ts
  packages/node/test/fixtures/evm/convenience.ts
  packages/node/test/fixtures/evm/event-logs.ts
  packages/node/test/fixtures/operation/deploy-config.ts
  packages/node/test/fixtures/requests/api-call-templates.ts
  packages/operation/README.md
  packages/operation/src/config/evm-dev-config.json
  packages/operation/src/evm/deploy/requesters.ts
  packages/operation/src/types.ts
  packages/protocol/contracts/Convenience.sol
  packages/protocol/contracts/TemplateStore.sol
  packages/protocol/contracts/interfaces/IConvenience.sol
  packages/protocol/contracts/interfaces/ITemplateStore.sol
  packages/protocol/test/Airnode.sol.js
  packages/protocol/test/Convenience.sol.js
  packages/protocol/test/TemplateStore.sol.js
  packages/protocol/test/UserFlow.js
  packages/protocol/test/helpers/template.js
Labels: alpha, node, protocol

#225 Consolidate Airnode.sol and Convenience.sol
  packages/deployer/src/config-data/config.json.example
  packages/node/__dev__/config.json.example
  packages/node/src/evm/authorization/authorization-fetching.test.ts
  packages/node/src/evm/authorization/authorization-fetching.ts
  packages/node/src/evm/contracts/airnode.test.ts
  packages/node/src/evm/contracts/convenience.test.ts
  packages/node/src/evm/contracts/convenience.ts
  packages/node/src/evm/contracts/index.ts
  packages/node/src/evm/handlers/initialize-provider.test.ts
  packages/node/src/evm/handlers/initialize-provider.ts
  packages/node/src/evm/initialization.test.ts
  packages/node/src/evm/initialization.ts
  packages/node/src/evm/templates/template-fetching.test.ts
  packages/node/src/evm/templates/template-fetching.ts
  packages/node/src/handlers/start-coordinator.test.ts
  packages/node/src/providers/initialize.test.ts
  packages/node/src/providers/state.test.ts
  packages/node/src/types.ts
  packages/node/test/fixtures/config/node-settings.ts
  packages/node/test/fixtures/evm/airnode.ts
  packages/node/test/fixtures/evm/index.ts
  packages/node/test/fixtures/provider-states/evm.ts
  packages/node/test/setup/e2e/deployment.ts
  packages/node/test/setup/e2e/utils.ts
  packages/operation/src/evm/deploy/deployment.ts
  packages/operation/src/evm/deploy/state.ts
  packages/operation/src/evm/requests/state.ts
  packages/operation/src/scripts/evm-dev-deploy.ts
  packages/operation/src/types.ts
  packages/protocol/contracts/Airnode.sol
  packages/protocol/contracts/AirnodeClient.sol
  packages/protocol/contracts/Convenience.sol
  packages/protocol/contracts/ProviderStore.sol
  packages/protocol/contracts/RequesterStore.sol
  packages/protocol/contracts/TemplateStore.sol
  packages/protocol/contracts/interfaces/IAirnode.sol
  packages/protocol/contracts/interfaces/IAirnodeClient.sol
  packages/protocol/contracts/interfaces/IConvenience.sol
  packages/protocol/contracts/interfaces/IProviderStore.sol
  packages/protocol/contracts/interfaces/IRequesterStore.sol
  packages/protocol/contracts/interfaces/ITemplateStore.sol
  packages/protocol/deploy/1_deploy.js
  packages/protocol/index.js
  packages/protocol/package.json
  packages/protocol/test/Convenience.sol.js
  packages/protocol/test/UserFlow.js
  packages/validator/exampleSpecs/config.specs.json
  packages/validator/exampleSpecs/configSecurity.specs.json
  packages/validator/src/validator.test.ts
  packages/validator/templates/configSecurity.json
Labels: alpha, node, protocol
