Repository api3dao/airnode, pull requests merged in 2021-07, with the labels that each got.

#408 Remove dAPI-related contracts and tests
  packages/protocol/contracts/dapis/RrpDapiServer.sol
  packages/protocol/contracts/dapis/SamplePriceDataFeed.sol
  packages/protocol/contracts/dapis/reducers/Mean.sol
  packages/protocol/contracts/dapis/reducers/MeanMedianHybrid.sol
  packages/protocol/contracts/dapis/reducers/Median.sol
  packages/protocol/contracts/dapis/reducers/SelectK.sol
  packages/protocol/extended-test/Median.sol.js
  packages/protocol/test/dapis/Median.sol.js
Labels: protocol

#409 Refactor authorizers
  .solhint.json
  packages/protocol/contracts/AirnodeParameterStore.sol
  packages/protocol/contracts/authorizers/AirnodeCwRrpAuthorizer.sol
  packages/protocol/contracts/authorizers/Api3Authorizer.sol
  packages/protocol/contracts/authorizers/Api3CwRrpAuthorizer.sol
  packages/protocol/contracts/authorizers/ClientWhitelistRrpAuthorizer.sol
  packages/protocol/contracts/authorizers/RankedAdminnable.sol
  packages/protocol/contracts/authorizers/SelfAuthorizer.sol
  packages/protocol/contracts/authorizers/interfaces/IAirnodeCwRrpAuthorizer.sol
  packages/protocol/contracts/authorizers/interfaces/IApi3Authorizer.sol
  packages/protocol/contracts/authorizers/interfaces/IApi3CwRrpAuthorizer.sol
  packages/protocol/contracts/authorizers/interfaces/IClientWhitelistRrpAuthorizer.sol
  packages/protocol/contracts/authorizers/interfaces/IRankedAdminnable.sol
  packages/protocol/contracts/authorizers/interfaces/IRrpAuthorizer.sol
  packages/protocol/contracts/authorizers/mock/MockAuthorizerAlwaysFalse.sol
  packages/protocol/contracts/authorizers/mock/MockAuthorizerAlwaysTrue.sol
  packages/protocol/test/authorizers/Api3Authorizer.sol.js_
  packages/protocol/test/authorizers/SelfAuthorizer.sol.js_
Labels: protocol

#422 Fixes operation package after removing airnodeAdmin and requesterAdmin from the protocol contracts
  packages/operation/src/evm/deploy/account-assignment.ts
  packages/operation/src/evm/deploy/airnodes.ts
  packages/operation/src/evm/deploy/requesters.ts
  packages/operation/src/evm/deploy/state.ts
  packages/operation/src/evm/requests/make-requests.ts
  packages/operation/src/evm/utils.ts
  packages/operation/src/types.ts
Labels: operation

#419 Fixes beta protocol tests
  package.json
  packages/protocol/test/AirnodeParameterStore.js
  packages/protocol/test/AirnodeRrp.sol.js
  packages/protocol/test/AirnodeRrpClient.sol.js
  packages/protocol/test/Convenience.sol.js
  packages/protocol/test/RequesterStore.sol.js
  packages/protocol/test/TemplateStore.sol.js
  packages/protocol/test/utils.js
  packages/protocol/test_/RequesterStore.sol.js
Labels: protocol

#418 Add Airnode heartbeat
  packages/adapter/src/clients/http.ts
  packages/adapter/src/clients/index.ts
  packages/adapter/src/index.ts
  packages/deployer/config/config.json.example
  packages/deployer/config/secrets.env.example
  packages/node/__dev__/config.json.example
  packages/node/src/constants.test.ts
  packages/node/src/constants.ts
  packages/node/src/coordinator/calls/disaggregation.test.ts
  packages/node/src/coordinator/calls/disaggregation.ts
  packages/node/src/coordinator/state.test.ts
  packages/node/src/coordinator/state.ts
  packages/node/src/evm/fulfillments/index.test.ts
  packages/node/src/evm/fulfillments/index.ts
  packages/node/src/evm/handlers/process-transactions.test.ts
  packages/node/src/evm/handlers/process-transactions.ts
  packages/node/src/handlers/start-coordinator.ts
  packages/node/src/logger.ts
  packages/node/src/providers/actions.test.ts
  packages/node/src/providers/actions.ts
  packages/node/src/providers/index.ts
  packages/node/src/providers/initialize.test.ts
  packages/node/src/providers/initialize.ts
  packages/node/src/providers/state.test.ts
  packages/node/src/providers/state.ts
  packages/node/src/reporting/heartbeat.test.ts
  packages/node/src/reporting/heartbeat.ts
  packages/node/src/reporting/index.ts
  packages/node/src/requests/request.test.ts
  packages/node/src/types.ts
  packages/node/src/utils/index.ts
  packages/node/test/fixtures/config/node-settings.ts
  packages/node/test/fixtures/evm/index.ts
  packages/node/test/fixtures/evm/receipts.ts
Labels: node

#421 Fixes admin packages after removing airnodeAdmin and requesterAdmin from the protocol contracts
  package.json
  packages/admin/README.md
  packages/admin/jest.config.js
  packages/admin/package.json
  packages/admin/src/cli.ts
  packages/admin/src/implementation.test.ts
  packages/admin/src/implementation.ts
  packages/admin/src/sdk.ts
  packages/admin/test/e2e/__snapshots__/cli.feature.ts.snap
  packages/admin/test/e2e/cli.feature.ts
  packages/admin/test/e2e/sdk.feature.ts
  packages/operation/src/evm/utils.ts
  packages/protocol/test/utils.js
Labels: admin

#433 Refactor protocol contracts
  packages/protocol/.solcover.js
  packages/protocol/contracts/AirnodeParameterStore.sol
  packages/protocol/contracts/AirnodeRrp.sol
  packages/protocol/contracts/Convenience.sol
  packages/protocol/contracts/ConvenienceUtils.sol
  packages/protocol/contracts/RequesterStore.sol
  packages/protocol/contracts/TemplateStore.sol
  packages/protocol/contracts/TemplateUtils.sol
  packages/protocol/contracts/WithdrawalUtils.sol
  packages/protocol/contracts/authorizers/ClientWhitelister.sol
  packages/protocol/contracts/authorizers/MetaAdminnable.sol
  packages/protocol/contracts/authorizers/interfaces/IClientWhitelister.sol
  packages/protocol/contracts/authorizers/interfaces/IRrpAuthorizerNew.sol
  packages/protocol/contracts/authorizers/mock/MockAuthorizerAlwaysFalse.sol
  packages/protocol/contracts/authorizers/mock/MockAuthorizerAlwaysTrue.sol
  packages/protocol/contracts/interfaces/IAirnodeParameterStore.sol
  packages/protocol/contracts/interfaces/IAirnodeRrp.sol
  packages/protocol/contracts/interfaces/IConvenience.sol
  packages/protocol/contracts/interfaces/IConvenienceUtils.sol
  packages/protocol/contracts/interfaces/IRequesterStore.sol
  packages/protocol/contracts/interfaces/ITemplateUtils.sol
  packages/protocol/contracts/interfaces/IWithdrawalUtils.sol
  packages/protocol/contracts/mock/MockAirnodeRrpClient.sol
  packages/protocol/contracts/requesters/AirnodeRrpRequester.sol
  packages/protocol/contracts/requesters/RrpBeaconServer.sol
  packages/protocol/contracts/requesters/interfaces/IRrpBeaconServer.sol
  packages/protocol/contracts/requesters/mock/MockAirnodeRrpRequester.sol
  packages/protocol/package.json
  packages/protocol/src/index.ts
  packages/protocol/test/AirnodeParameterStore.js
  packages/protocol/test/AirnodeRrp.sol.js
  packages/protocol/test/AirnodeRrpClient.sol.js
  packages/protocol/test/Convenience.sol.js
  packages/protocol/test/ConvenienceUtils.sol.js
  packages/protocol/test/RequesterStore.sol.js
  packages/protocol/test/TemplateStore.sol.js
  packages/protocol/test/TemplateUtils.sol.js
  packages/protocol/test/WithdrawalUtils.sol.js
  packages/protocol/test/authorizers/Api3Authorizer.sol.js_
  packages/protocol/test/authorizers/SelfAuthorizer.sol.js_
  packages/protocol/test/requesters/AirnodeRrpRequester.sol.js
  packages/protocol/test/requesters/RrpBeaconServer.sol.js
  packages/protocol/test/utils.js
  packages/protocol/test_/authorizers/Api3Authorizer.sol.js
  packages/protocol/test_/authorizers/SelfAuthorizer.sol.js
  yarn.lock
Labels: protocol

#435 Splits airnodeToAnnouncement mapping into airnodeToPublicKey and airnodeToAuthorizers mappings
  packages/protocol/contracts/rrp/ConvenienceUtils.sol
  packages/protocol/contracts/rrp/interfaces/IConvenienceUtils.sol
  packages/protocol/test/ConvenienceUtils.sol.js
Labels: protocol

#392 Add type checking to validator
  packages/validator/README.md
  packages/validator/docs/type.md
  packages/validator/docs/type.test.ts
  packages/validator/src/processor.ts
  packages/validator/src/utils/globals.ts
  packages/validator/src/validators/regexpValidator.ts
  packages/validator/src/validators/typeValidator.ts
  packages/validator/templates/0.1.0/config.json
  packages/validator/templates/1.0.0/apiSpecifications.json
  packages/validator/templates/1.0.0/endpoints.json
Labels: blocked, validator
