Repository api3dao/airnode, pull requests merged in 2021-09, with the labels that each got.

#543 AN-98: Replace endorsing with sponsoring
  packages/node/test/setup/e2e/deployment.ts
  packages/operation/README.md
Labels: node, v0.1.0

#544 AN-101: Replace regular requests with template requests
  packages/node/src/evm/handlers/initialize-provider.test.ts
  packages/node/src/evm/requests/api-calls.test.ts
  packages/node/src/evm/requests/api-calls.ts
  packages/node/src/evm/verification/api-call-verification.test.ts
  packages/node/src/evm/verification/api-call-verification.ts
  packages/node/src/handlers/start-coordinator.test.ts
  packages/node/src/types.ts
  packages/node/test/e2e/no-duplication.feature.ts
  packages/node/test/e2e/requester-fulfill.feature.ts
  packages/node/test/fixtures/evm/event-logs.ts
  packages/node/test/fixtures/operation/requests.ts
  packages/node/test/fixtures/requests/api-calls.ts
Labels: node, v0.1.0

#541 AN-130: Skip authorization checks if authorizers is empty array
  packages/node/__dev__/config.json.example
  packages/node/src/evm/authorization/authorization-fetching.test.ts
  packages/node/src/evm/authorization/authorization-fetching.ts
  packages/node/src/evm/fulfillments/api-calls.ts
  packages/node/test/fixtures/config/config.ts
  packages/node/test/fixtures/operation/deploy-config.ts
  packages/node/test/fixtures/provider-states/evm.ts
  packages/node/test/setup/e2e/utils.ts
  packages/operation/README.md
  packages/operation/src/config/evm-dev-config.json
  packages/operation/src/evm/deploy/deployment.ts
  yarn.lock
Labels: node, v0.1.0

#546 AN-178: Return dummy chain metadata on pre-alpha instead of leaving i…
  packages/node/src/adapters/http/parameters.ts
  packages/node/src/handlers/call-api.test.ts
  packages/node/src/handlers/call-api.ts
Labels: node, pre-alpha

#551 Fixes relay metadata parameters
  packages/adapter/src/request-building/build-request.test.ts
  packages/adapter/src/request-building/parameters.test.ts
  packages/adapter/src/request-building/parameters.ts
  packages/adapter/src/types.ts
  packages/adapter/test/fixtures/options.ts
  packages/node/src/handlers/call-api.test.ts
  packages/node/src/handlers/call-api.ts
Labels: node, adapter

#552 AN86: deployer airnodeid to airnodeaddress
  packages/admin/example/template.json
  packages/deployer/README.md
  packages/deployer/config/config.json.example
  packages/deployer/src/cli/commands.ts
  packages/deployer/src/cli/index.ts
  packages/deployer/src/evm/config.ts
  packages/deployer/src/evm/index.ts
  packages/deployer/src/infrastructure/index.ts
  packages/deployer/src/types.ts
  packages/deployer/src/utils/evm.ts
  packages/deployer/terraform/airnode/main.tf
  packages/deployer/terraform/airnode/modules/function/variables.tf
  packages/deployer/terraform/airnode/variables.tf
  packages/deployer/terraform/state/main.tf
  packages/deployer/terraform/state/variables.tf
  packages/node/src/evm/wallet.test.ts
  packages/node/src/evm/wallet.ts
  packages/node/src/providers/initialize.test.ts
  packages/node/src/providers/state.test.ts
  packages/node/src/workers/cloud-platforms/aws.ts
Labels: deployer, v0.1.0

#553 A3P-22: Certik ARO-02 | requestId should include airnode
  packages/protocol/contracts/rrp/AirnodeRrp.sol
  packages/protocol/test/AirnodeRrp.sol.js
  packages/protocol/test/requesters/RrpBeaconServer.sol.js
Labels: protocol, v0.1.0

#555 AN-176: Certik ARO-02 | requestId should include airnode
  packages/node/src/evm/fulfillments/index.test.ts
  packages/node/src/evm/handlers/fetch-pending-requests.test.ts
  packages/node/src/evm/handlers/initialize-provider.test.ts
  packages/node/src/evm/handlers/process-transactions.test.ts
  packages/node/src/evm/requests/api-calls.test.ts
  packages/node/src/evm/requests/blocking.test.ts
  packages/node/src/evm/requests/withdrawals.test.ts
  packages/node/src/evm/templates/template-verification.test.ts
  packages/node/src/evm/transaction-counts.test.ts
  packages/node/src/evm/verification/api-call-verification.test.ts
  packages/node/src/evm/verification/api-call-verification.ts
  packages/node/src/evm/verification/request-verification.test.ts
  packages/node/src/handlers/start-coordinator.test.ts
  packages/node/src/requests/nonces.test.ts
  packages/node/test/fixtures/aggregated-api-call.ts
  packages/node/test/fixtures/evm/event-logs.ts
  packages/node/test/fixtures/requests/withdrawals.ts
  packages/protocol/contracts/rrp/AirnodeRrp.sol
  packages/protocol/test/AirnodeRrp.sol.js
  packages/protocol/test/requesters/RrpBeaconServer.sol.js
Labels: node, protocol, v0.1.0

#560 AN-69: Verify sponsor wallets for withdrawal requests
  packages/node/src/evm/handlers/initialize-provider.ts
  packages/node/src/evm/verification/request-verification.test.ts
Labels: node, v0.1.0

#562 A3P-23: Replace airnode with sponsor when generating requestId hash
  packages/protocol/contracts/rrp/AirnodeRrp.sol
  packages/protocol/test/AirnodeRrp.sol.js
  packages/protocol/test/requesters/RrpBeaconServer.sol.js
Labels: protocol, v0.1.0

#558 Small validator updates
  package.json
  packages/validator/README.md
  packages/validator/conversions/oas@3.0.0->ois@0.1.0.json
  packages/validator/conversions/oas@3.0.0->ois@pre-alpha.json
  packages/validator/conversions/ois@0.1.0->config@0.1.0.json
  packages/validator/conversions/ois@pre-alpha->config@pre-alpha.json
  packages/validator/exampleSpecs/config.specs.json
  packages/validator/package.json
  packages/validator/src/commands/utils.ts
  packages/validator/src/convertor.test.ts
  packages/validator/src/validator.test.ts
  packages/validator/templates/0.1.0/endpoints.json
  packages/validator/templates/pre-alpha/endpoints.json
  packages/validator/tsconfig.build.json
Labels: validator

#566 Docker container for Airnode containerized version
  .dockerignore
  .gitignore
  README.md
  docker/Dockerfile
  docker/README.md
  package.json
  packages/adapter/package.json
  packages/admin/package.json
  packages/airnode-abi/package.json
  packages/deployer/docker/Dockerfile
  packages/deployer/docker/README.md
  packages/deployer/docker/entrypoint.sh
  packages/deployer/package.json
  packages/node/.gitignore
  packages/node/__dev__/invoke.ts
  packages/node/bin/invoke.ts
  packages/node/bin/test-api.ts
  packages/node/config/config.json.example
  packages/node/config/secrets.env.example
  packages/node/docker/Dockerfile
  packages/node/docker/README.md
  packages/node/docker/airnode-crontab
  packages/node/package.json
  packages/node/src/cli/invoke.ts
  packages/node/src/cli/test-api.ts
  packages/node/src/workers/local-handlers.ts
  packages/node/tsconfig.build.json
  packages/ois/package.json
  packages/operation/package.json
  packages/protocol/package.json
  packages/validator/package.json
Labels: node, deployer, v0.1.0

#570 An-210: Update indexing of arrays in parameter paths
  packages/validator/docs/any.md
  packages/validator/docs/basics.md
  packages/validator/docs/conditions.md
  packages/validator/docs/dynamic_params.md
  packages/validator/src/processor.ts
  packages/validator/src/utils/utils.ts
  packages/validator/src/validator.test.ts
  packages/validator/src/validators/validators.test.ts
  packages/validator/templates/0.1.0/config.json
  packages/validator/templates/0.1.0/ois.json
  packages/validator/templates/pre-alpha/config.json
  packages/validator/templates/pre-alpha/ois.json
  packages/validator/test/fixtures/any.ts
  packages/validator/test/fixtures/basics.ts
  packages/validator/test/fixtures/conditions.ts
  packages/validator/test/fixtures/dynamic_params.ts
Labels: validator

#564 An202 address suffix
  packages/adapter/src/types.ts
  packages/admin/README.md
  packages/admin/src/cli.ts
  packages/admin/src/implementation.test.ts
  packages/admin/src/implementation.ts
  packages/admin/src/sdk.ts
  packages/admin/test/e2e/__snapshots__/cli.feature.ts.snap
  packages/admin/test/e2e/cli.feature.ts
  packages/node/src/coordinator/calls/aggregation.test.ts
  packages/node/src/coordinator/calls/aggregation.ts
  packages/node/src/evm/fulfillments/withdrawals.ts
  packages/node/src/evm/handlers/fetch-pending-requests.test.ts
  packages/node/src/evm/handlers/initialize-provider.test.ts
  packages/node/src/evm/requests/api-calls.test.ts
  packages/node/src/evm/requests/api-calls.ts
  packages/node/src/evm/requests/withdrawals.test.ts
  packages/node/src/evm/requests/withdrawals.ts
  packages/node/src/evm/templates/template-application.test.ts
  packages/node/src/evm/verification/request-verification.test.ts
  packages/node/src/evm/verification/request-verification.ts
  packages/node/src/handlers/call-api.test.ts
  packages/node/src/handlers/call-api.ts
  packages/node/src/handlers/test-api.test.ts
  packages/node/src/handlers/test-api.ts
  packages/node/src/types.ts
  packages/node/test/fixtures/aggregated-api-call.ts
  packages/node/test/fixtures/requests/api-calls.ts
  packages/node/test/fixtures/requests/withdrawals.ts
Labels: node, admin, v0.1.0

#567 AN-208: Fix node e2e tests in beta-protocol-revision after merging be…
  packages/node/test/e2e/requester-fulfill.feature.ts
Labels: node, v0.1.0

#559 Refactor Request<T> type
  package.json
  packages/node/src/evm/authorization/authorization-fetching.ts
  packages/node/src/evm/fulfillments/api-calls.ts
  packages/node/src/evm/fulfillments/withdrawals.ts
  packages/node/src/evm/requests/withdrawals.ts
  packages/node/src/evm/templates/template-application.test.ts
  packages/node/src/requests/nonces.ts
  packages/node/src/types.ts
Labels: node

#576 Merge beta-protocol branch to master
  packages/protocol/README.md
  packages/protocol/contracts/adminnable/Adminnable.sol
  packages/protocol/contracts/adminnable/SelfAdminnable.sol
  packages/protocol/contracts/adminnable/Whitelister.sol
  packages/protocol/contracts/rrp/AirnodeRrp.sol
  packages/protocol/contracts/rrp/AuthorizationUtils.sol
  packages/protocol/contracts/rrp/TemplateUtils.sol
  packages/protocol/contracts/rrp/WithdrawalUtils.sol
  packages/protocol/contracts/rrp/authorizers/RequesterRrpAuthorizer.sol
  packages/protocol/contracts/rrp/requesters/RrpBeaconServer.sol
  packages/protocol/contracts/rrp/requesters/interfaces/IRrpBeaconServer.sol
  packages/protocol/contracts/rrp/requesters/mock/MockRrpRequester.sol
  packages/protocol/test/rrp/AirnodeRrp.sol.js
  packages/protocol/test/rrp/WithdrawalUtils.sol.js
  packages/protocol/test/rrp/authorizers/AirnodeRequesterRrpAuthorizer.sol.js
  packages/protocol/test/rrp/authorizers/DaoRequesterRrpAuthorizer.sol.js
  packages/protocol/test/rrp/authorizers/RequesterRrpAuthorizer.sol.js
  packages/protocol/test/rrp/requesters/RrpBeaconServer.sol.js
Labels: protocol
